/* TODO: fix webpack to pack styles from components */

.app {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: 10px;
}

.key-set {
    display: flex;
    top: 0;
    position: relative;
}

.fadeOut {
  top: 15px;
  visibility: hidden;
  opacity: 0;
  transition: top 2s ease-in 0.5s, visibility 0s 2s, opacity 2s linear;
}